<section class="section collection">
  <div class="container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list list">
      <li class="collection-list-item">
        <div class="collection-list-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/collection/img1deskbig.jpg    1x,
                ./img/collection/img1deskbig@2x.jpg 2x
              "
              media="(min-width:1240px)"
            />
            <source
              srcset="
                ./img/collection/img1desk.jpg    1x,
                ./img/collection/img1desk@2x.jpg 2x
              "
              media="(min-width:1082px)"
            />
            <source
              srcset="
                ./img/collection/img1tab.jpg    1x,
                ./img/collection/img1tab@2x.jpg 2x
              "
              media="(min-width:704px)"
            />
            <source
              srcset="
                ./img/collection/img1mob.jpg    1x,
                ./img/collection/img1mob@2x.jpg 2x
              "
              media="(min-width:335px)"
            />
            <img
              class=""
              src="./img/collection/img1deskbig.jpg"
              alt="women's embroidery"
              width="400"
              height="430"
              loading="lazy"
            />
          </picture>
          <div>
            <h3>august poltava women's blousering</h3>
            <p>3300 UAH</p>
          </div>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-list-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/collection/img2deskbig.jpg    1x,
                ./img/collection/img2deskbig@2x.jpg 2x
              "
              media="(min-width:1240px)"
            />
            <source
              srcset="
                ./img/collection/img2desk.jpg    1x,
                ./img/collection/img2desk@2x.jpg 2x
              "
              media="(min-width:1082px)"
            />
            <source
              srcset="
                ./img/collection/img2tab.jpg    1x,
                ./img/collection/img2tab@2x.jpg 2x
              "
              media="(min-width:704px)"
            />
            <source
              srcset="
                ./img/collection/img2mob.jpg    1x,
                ./img/collection/img2mob@2x.jpg 2x
              "
              media="(min-width:335px)"
            />
            <img
              class=""
              src="./img/collection/img2deskbig.jpg"
              alt="women's embroidery"
              width="400"
              height="430"
              loading="lazy"
            />
          </picture>
          <div>
            <h3>women's blouse gorgany</h3>
            <p>3350 UAH</p>
          </div>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-list-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/collection/img3deskbig.jpg    1x,
                ./img/collection/img3deskbig@2x.jpg 2x
              "
              media="(min-width:1240px)"
            />
            <source
              srcset="
                ./img/collection/img3desk.jpg    1x,
                ./img/collection/img3desk@2x.jpg 2x
              "
              media="(min-width:1082px)"
            />
            <source
              srcset="
                ./img/collection/img3tab.jpg    1x,
                ./img/collection/img3tab@2x.jpg 2x
              "
              media="(min-width:704px)"
            />
            <source
              srcset="
                ./img/collection/img3mob.jpg    1x,
                ./img/collection/img3mob@2x.jpg 2x
              "
              media="(min-width:335px)"
            />
            <img
              class=""
              src="./img/collection/img3deskbig.jpg"
              alt="women's embroidery"
              width="400"
              height="430"
              loading="lazy"
            />
          </picture>
          <div>
            <h3>women's blouse crimea</h3>
            <p>4000 UAH</p>
          </div>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-list-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/collection/img4deskbig.jpg    1x,
                ./img/collection/img4deskbig@2x.jpg 2x
              "
              media="(min-width:1240px)"
            />
            <source
              srcset="
                ./img/collection/img4desk.jpg    1x,
                ./img/collection/img4desk@2x.jpg 2x
              "
              media="(min-width:1082px)"
            />
            <source
              srcset="
                ./img/collection/img4tab.jpg    1x,
                ./img/collection/img4tab@2x.jpg 2x
              "
              media="(min-width:704px)"
            />
            <source
              srcset="
                ./img/collection/img4mob.jpg    1x,
                ./img/collection/img4mob@2x.jpg 2x
              "
              media="(min-width:335px)"
            />
            <img
              class=""
              src="./img/collection/img4deskbig.jpg"
              alt="men's embroidery"
              width="400"
              height="430"
              loading="lazy"
            />
          </picture>
          <div>
            <h3>men's shirt verkhovina</h3>
            <p>3100 UAH</p>
          </div>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-list-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/collection/img5deskbig.jpg    1x,
                ./img/collection/img5deskbig@2x.jpg 2x
              "
              media="(min-width:1240px)"
            />
            <source
              srcset="
                ./img/collection/img5desk.jpg    1x,
                ./img/collection/img5desk@2x.jpg 2x
              "
              media="(min-width:1082px)"
            />
            <source
              srcset="
                ./img/collection/img5tab.jpg    1x,
                ./img/collection/img5tab@2x.jpg 2x
              "
              media="(min-width:704px)"
            />
            <source
              srcset="
                ./img/collection/img5mob.jpg    1x,
                ./img/collection/img5mob@2x.jpg 2x
              "
              media="(min-width:335px)"
            />
            <img
              class=""
              src="./img/collection/img5deskbig.jpg"
              alt="men's embroidery"
              width="400"
              height="430"
              loading="lazy"
            />
          </picture>
          <div>
            <h3>mountain men's shirt</h3>
            <p>3300 UAH</p>
          </div>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="collection-list-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/collection/img6deskbig.jpg    1x,
                ./img/collection/img6deskbig@2x.jpg 2x
              "
              media="(min-width:1240px)"
            />
            <source
              srcset="
                ./img/collection/img6desk.jpg    1x,
                ./img/collection/img6desk@2x.jpg 2x
              "
              media="(min-width:1082px)"
            />
            <source
              srcset="
                ./img/collection/img6tab.jpg    1x,
                ./img/collection/img6tab@2x.jpg 2x
              "
              media="(min-width:704px)"
            />
            <source
              srcset="
                ./img/collection/img6mob.jpg    1x,
                ./img/collection/img6mob@2x.jpg 2x
              "
              media="(min-width:335px)"
            />
            <img
              class=""
              src="./img/collection/img6deskbig.jpg"
              alt="men's embroidery"
              width="400"
              height="430"
              loading="lazy"
            />
          </picture>
          <div>
            <h3>men's shirt yasen</h3>
            <p>1700 UAH</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
