<section class="section collection">
  <div class="container">
    <h2 class="collection-title">
      <ul class="collection-list list">
        <li class="collection-list-item">
          <div class="collection-list-img-wrapper">
            <picture>
              <source srcset="" />
              <source />
              <source />
              <img src="" alt="" />
            </picture>
            <div>
              <h3></h3>
              <p></p>
            </div>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-list-img-wrapper">
            <picture>
              <source />
              <source />
              <source />
              <img src="" alt="" />
            </picture>
            <div>
              <h3></h3>
              <p></p>
            </div>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-list-img-wrapper">
            <picture>
              <source />
              <source />
              <source />
              <img src="" alt="" />
            </picture>
            <div>
              <h3></h3>
              <p></p>
            </div>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-list-img-wrapper">
            <picture>
              <source />
              <source />
              <source />
              <img src="" alt="" />
            </picture>
            <div>
              <h3></h3>
              <p></p>
            </div>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-list-img-wrapper">
            <picture>
              <source />
              <source />
              <source />
              <img src="" alt="" />
            </picture>
            <div>
              <h3></h3>
              <p></p>
            </div>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-list-img-wrapper">
            <picture>
              <source />
              <source />
              <source />
              <img src="" alt="" />
            </picture>
            <div>
              <h3></h3>
              <p></p>
            </div>
          </div>
        </li>
      </ul>
    </h2>
  </div>
</section>
