<section class="section">
    <h2 class="testimonials-title"></h2>
        <ul class="testimonials-list">
            <li>
                <picture>
                <source srcset="" type="">
                <img src="" alt="">
                </picture>
                <h3 class="testimonials-people"></h3>
                <p class="testimonials-response"></p>
            </li>
            <li>
                <picture>
                <source srcset="" type="">
                <img src="" alt="">
                </picture>
                <h3 class="testimonials-people"></h3>
                <p class="testimonials-response"></p>
            </li>
            <li>
                <picture>
                <source srcset="" type="">
                <img src="" alt="">
                </picture>
                <h3 class="testimonials-people"></h3>
                <p class="testimonials-response"></p>
            </li>
        </ul>
</section>
