.about-container {
  background-image: url(../img/about/about-ornament-mobile.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 250px 408px;
  padding-bottom: 62px;
}
@media (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px),
  (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .about-container {
    background-image: url('../img/about/about-ornament-mobile@2x.png');
  }
}
.about-wrapper {
  margin-bottom: 50px;
  width: 100%;
  max-width: 335px;
}
.about-title {
  color: var(--white-color);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}
.about-text {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}
.about-img img {
  max-width: 335px;
  max-height: 499px;
  border-radius: 4px;
}
/* 768px - 1158px */
/* .about-container {
  background-image: url(../img/about/about-ornament-tablet.png);
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .about-container {
    background-image: url('../img/about/about-ornament-tablet@2x.png');
  }
} */
/* 1158px - ... */
/* .about-container {
  background-image: url(../img/about/about-ornament-desktop.png);
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
   .about-container {
    background-image: url('../img/about/about-ornament-desktop@2x.png');
  }
} */
