.collection {
    background-image: url(../img/collection/backimgmob.png);
    background-repeat: no-repeat;
    background-position: 0 300px;
}

.collection-title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: -0.03em;
}

.collection-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.collection-img img {
    border-radius: 4px;
    margin-bottom: 18px;
}

.collection-list-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.collection-list-text {
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
    line-height: 1.0;
    letter-spacing: 0.05em;
}

@media (max-width: 374px) {
    .collection {
        background-image: none;
    }
}

@media (min-resolution: 192dpi) and (min-width: 375px), 
(min-resolution: 2dppx) and (min-width: 375px),
(min-device-pixel-ratio: 2) and (min-width: 375px) {
    .collection {
        background-image: url(../img/collection/backimgmob@2x.png);
        background-size: 72px 177px ;
        background-position: 0 300px;
    }
}

@media (min-width: 768px) {
    .collection {
        background-image: url(../img/collection/backimgtab.png);
        background-position: 0 220px;
    }

    .collection-title {
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: 0.03em;
    }

    .collection-list-title {
        white-space: nowrap;
        font-size: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 344px;
    }

    .collection-list-text {
        font-size: 18px;
    }

    .collection-list-item {
        width: calc((100% - 20px) / 2);
    }
}


@media (min-resolution: 192dpi) and (min-width: 768px),
(min-resolution: 2dppx) and (min-width: 768px),
(min-device-pixel-ratio: 2) and (min-width: 768px) {
    .collection {
        background-image: url(../img/collection/backimgtab@2x.png);
        background-position: 0 220px;
        background-size: 114px 300px;
    }
}

@media (min-width: 1280px) {
    .collection {
        background-image: url(../img/collection/backimgdesk.png);
        background-position: 0 220px;
    }

    .collection-list-item {
        width: calc((100% - 40px) / 3);
    }
}


@media (min-resolution: 192dpi) and (min-width: 1280px),
(min-resolution: 2dppx) and (min-width: 1280px),
(min-device-pixel-ratio: 2) and (min-width: 1280px) {
    .collection {
        background-image: url(../img/collection/backimgdesk@2x.png);
        background-position: 0 220px;
        background-size: 169px 300px;
    }
}

@media (min-width: 1440px) {
    .collection {
        background-image: url(../img/collection/backimgdeskbig.png);
        background-position: 0 220px;
    }

    .collection-list-title {
        overflow: visible;
    }
}

@media (min-resolution: 192dpi) and (min-width: 1440px),
(min-resolution: 2dppx) and (min-width: 1440px),
(min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .collection {
        background-image: url(../img/collection/backimgdeskbig@2x.png);
    }
}